<div class="row"
     *ngIf="(developersLoaded$ | async) === true">
  <div class="col">
    <app-developer-entry></app-developer-entry>
  </div>
  <div class="col">
    <app-developer-list-sorter></app-developer-list-sorter>
    <app-developer-list [developers]="devs$ | async"></app-developer-list>
  </div>
</div>
<div class="alert alert-danger"
     *ngIf="(developersLoaded$ | async) === false">
  <h1>The Developers are getting loaded. Be with you soon.</h1>
  <img src="https://data.whicdn.com/images/217175594/original.gif"
       height="300px"
       width="300px">
</div>
